*.bak

.idea
graphast-core.iml
core/.idea
core/serialized_graphs

.metadata
.settings
.classpath
.project
target
*.class
*.jar
*.war
*.ear
*.log
*~
graph
neo4j
null
.DS_Store
*.aux
*.synctex*
bin
MMap/